@import 'bulma/sass/utilities/variables';

.is-error {

    margin: 0;
    color: $danger;
}

.container, .container-fluid {

    padding-left: 20px;
    padding-right: 20px;
}

.has-content-pad {
    
    padding-top: 20px;
}